.dashboard {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    box-sizing: border-box;
    /* border: 1px solid black; */
    margin: 2rem;
}

.dashboard .dashboard-left {
    /* border: 1px solid red; */
    width: 70%;
}

.dashboard .dashboard-left .sellerinfo {
    padding: 1rem;
    background: white;
    margin-bottom: 1rem;
}

.dashboard .dashboard-left .sellerinfo img {
    height: 4rem;
}

.dashboard .dashboard-left .productlist {
    padding: 1rem;
    background: white;
}

.dashboard .dashboard-left .productlist .productcard {
    background-color: rgba(196, 244, 244, 0.723);
    box-sizing: border-box;
    box-shadow: 0.51px 0.51px 5px gray;
    padding: 0 1rem;
    margin: 2rem 0;
    display: flex;
    padding: 1rem;
    align-items: center;
    border-radius: 0.3rem;
}

.dashboard .dashboard-left .productlist .productcard .cardimg {
    margin: 0 2rem;
    width: 30%;
    text-align: center;
}

.dashboard .dashboard-left .productlist .productcard .cardimg img {
    height: 10rem;
}

.dashboard .dashboard-left .productlist .productcard .carddetail {
    width: 70%;
}

.dashboard .dashboard-left .productlist .productcard .carddetail button {
    background-color: red;
    padding: 0.4rem 1rem;
    margin: 0.5rem 0;
    color: white;
    border: none;
    font-size: 0.81rem;
    border-radius: 0.2rem;
}



.dashboard .dashboard-left .productlist .navbar {
    background: black;
    text-align: center;
    box-sizing: border-box;
    padding: 1rem;
}

.dashboard .dashboard-left .productlist .navbar .navitem {
    color: white;
    margin: 1rem;
    padding: 1rem;
    text-decoration: none;
}


.dashboard .dashboard-left .productlist .navbar .navitem:hover {
    background-color: white;
    color: black;
}

.dashboard .dashboard-left .productlist .navbar .active {
    background-color: white;
    border-radius: 0.21rem;
    color: black;
}

.dashboard .dashboard-right{
    width: 20%;
    box-sizing: border-box;
    overflow: hidden;
}
.dashboard .dashboard-right .product-from{
    background: aliceblue;
    border-radius: .2rem;
    padding: 1rem;
    box-sizing: border-box;
    
}
.dashboard .dashboard-right .product-from form{
    /* text-align: center; */
    line-height: 2rem;
    /* border: 1px solid red; */
}

.dashboard .dashboard-right .product-from form input{
    margin: 0 1rem;
}
.dashboard .dashboard-right .product-from form button{
    border: none;
    padding: 0.5rem 1rem;
    margin: 1rem auto;
    border-radius: 0.2rem;
    background: forestgreen;
    color: white;
    font-family: 2rem;
    cursor: pointer;
}