.card-frames {
    /* background: rgb(40, 158, 58); */
    background:linear-gradient(#0f0c29,#302b63,#24243e);
    color: white;
    font-family: "Poppins",sans-serif;
    text-align: center;
    margin: 2rem 2rem;
    padding: 2rem 1rem;
}

.card-frames h2{   
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    margin: 1rem;
}

.card-container .card-holder{
    display: flex;
    /* padding: 0.3rem; */
    /* margin: 0 1rem; */
    align-items: center;
    justify-content: space-evenly;
    border-radius: 0 0 0.2rem 0.2rem;
}

.card-frames .card-container .card-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: white; */
    border-radius: 0.2rem;
    align-items: center;
}